body{
    text-align: justify;
    margin: 0;
}
h1{
    font-size: 30px;
}
.name{
    color: orange;
}
.width{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
}
.width img{width: 70%;
}
.song{
    text-decoration: none;
    padding: 6px;
    background-color:rebeccapurple;
    margin: 3px;
    color: wheat;
    border-radius: 7px;
    border: rebeccapurple;
  
}
.top-banner{
background-image: url(images/top-banner.png);  
background-repeat: no-repeat;  
margin-left: 5px;
}
section{height: 500px;
}
.dream-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experiences{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
    
    border-radius: 10px;
    height: 325px;
  }

#bg-image{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.exp{
    margin-left: 55px;
}
#exp-img-left{
    border-left: 8px solid gray;
    border-image: linear-gradient (180deg red blue);
    border-image-slice: 1;
}
#exp-img-right{
    border-left: 8px solid blue;
    };